.navigation{
    width: 94vw;
    border: 1px solid black;
    background-color: blanchedalmond;
    border-radius: 6px;
    position: fixed;
    top: 0%;
    left: 0%;
    display: flex;
    height: 71px;
    justify-content: space-around;
    align-items: baseline;
}
a {
    text-decoration: solid;
    color: burlywood;
}
.header {
    margin-top: 82px;
    text-align: center;
}
.photographitem {
    border: 5px;
    width: 280px;
    padding: 20px;
    height: 170px;
    border-radius: 7px;
}
img{
    width: 250px;
    height: 210px;
}
.photographlist{
    display: inline;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.footer{
    border: 1px solid black;
    background-color: blueviolet;
    margin-top: 20px;
    height: 125px;
    border-radius: 6px;
    display: flex;
    justify-content: space-around;
}